.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.iml
ehthumbs.db
Thumbs.db
.idea
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-error.log
.yarn-integrity
.yarn-cache.tgz

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
*~
tags

# prefer npm over yarn
yarn.lock
